body {
    background: black url("../../assets/images/background.png");
    color: #ff6;
  }

.hero_select img,
#charChosen img {
  border: 1px solid limegreen;
}

#charsNotChosen img,
#defender img {
  border: 1px solid red;
}

button {
  color: black; 
}

#battle-info {
  color: #ff6;
}